<h2>Frequenly Asked Questions</h2>
<!--Question-->
<div class="faq-item mb-3">
  <h5 class="question">Q: How often can we visit the center?</h5>
  <div class="answer">A: Once a month, by appointment.</div>
</div>
<!--Question-->
<div class="faq-item mb-3">
  <h5 class="question">
    Q: Can we donate furniture and drop it off at the shed, or outside?
  </h5>
  <div class="answer">
    A: Furniture is only allowed to be dropped by appointment only. Furniture
    dropped off in or outside of the shed will be considered illegal dumping and
    will be enforced.
  </div>
</div>
<!--Question-->
<div class="faq-item mb-3">
  <h5 class="question">Q: Are donations a requirement?</h5>
  <div class="answer">
    A: No, charitable donations are requested. We ask $5 for a hamper full of
    clothes and linen, and our furniture and housewares have a small amount
    tagged on them so as to make it affordable to most.
  </div>
</div>
<!--Question-->
<div class="faq-item mb-3">
  <h5 class="question">Q: Is this a thrift store?</h5>
  <div class="answer">
    A: No, we serve the community by meeting the most pressing physical needs of
    the poor, but our desire is to also provide spiritual help via prayer and
    bible studies, and other programs that will be advertised as they become
    available.
  </div>
</div>
