<div class="home-page">
  <!---->
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="3"
        aria-label="Slide 4"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/church.png" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="./assets/cooking.png" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="./assets/onlineclass.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="./assets/empathy.png" class="d-block w-100" alt="..." />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!---->
  <div class="row justify-content-center align-items-center text-center my-3">
    <h2>
      <a href="https://forms.gle/5eKHPxjipJsGzJVx9" target="_blank"
        >ONLINE REGISTRATION</a
      >
    </h2>
    <h6>Donations or Program Questions?</h6>
    <h6>Please call (610) 489-6671</h6>
  </div>
  <div class="row home-content">
    <h1 class="text-center">Welcome to the Adventist Community Service Center</h1>
    <h2 style="color: #660066;">A WORLDWIDE CHURCH FAMILY</h2>
    <p>
      The Seventh-day Adventist Church is a mainstream Protestant church with
      approximately 19 million members worldwide, including more than one
      million members in North America. The Adventist Church operates 173
      hospitals and sanitariums and more than 7,500 schools around the world.
      The Adventist Development and Relief Agency (ADRA) works within
      communities in more than 130 countries to provide community development
      and disaster relief.
    </p>
    <h4 style="color: #ff3300;">
      “'.. You shall love your neighbor as yourself.' There is no other
      commandment greater than these.”
    </h4>
    <p class="text-end">~ Mk 12:31 ~</p>
    <p>
      Demonstrating love in action through service that promotes hope and
      healing is the mission and vision of the Adventist Community Services
      Center (ACSC). It was established over 30 years ago to serve its
      community, during which time it was also an ADRA site providing disaster
      relief around the world.
    </p>
    <p>
      Jesus washed the feet of his disciples as the ultimate demonstration of
      love by serving, and this commitment to the well-being of others is what
      motivates our volunteers to experience selfless acts of service can change
      the world one person at a time.
    </p>
    <p>
      Come and discover some of the ways we plan to change the world as we help
      our neighbors get through hardships we sometimes face. Furthermore you are
      invited to join us, and discover how God plans to change the world through
      you.
    </p>
    <img src="./assets/about.png" alt="">
    <img src="./assets/vision.png" alt="">
    <img src="./assets/background.png" alt="">
    <img src="./assets/programming.png" alt="">
  </div>
  <!--  -->
</div>
