<div class="col-md-3 side-bar">
  <!--Right Side-->
  <div class="side-links-container">
    <h2>Quick Links</h2>
    <ul class="side-links">
      <li class="side-items py-1"><a href="#">Donation</a></li>
      <li class="side-items py-1">
        <a href="https://forms.gle/5eKHPxjipJsGzJVx9" target="_blank"
          >Registration</a
        >
      </li>
      <li class="side-items py-1"><a href="/volunteer">Volunteer</a></li>
      <li class="side-items pb-4" style="border: 0;"><a href="/faqs">FAQs</a></li>
    </ul>
  </div>
  <div class="question-box">
    <label for="question">Enter your question:</label>
    <textarea
      id="question"
      name="question"
      placeholder="Type your question here"
    ></textarea>
    <button type="button" class="btn btn-secondary">Submit</button>
  </div>
</div>
