<div class="col-md-3"> <!--Right Side-->
    <h2>Side navigation</h2>
    <ul>
      <li class="side-items"><a href="#">Donation</a></li>
      <li class="side-items"><a href="#">Client Intake</a></li>
      <li class="side-items"><a href="#">Volunteer</a></li>
      <li class="side-items"><a href="#">FAQs</a></li>
    </ul>
    <div class="question-box">
      <label for="question">Enter your question:</label>
      <textarea
        id="question"
        name="question"
        placeholder="Type your question here"
      ></textarea>
      <button type="button" class="btn btn-secondary">Submit</button>
    </div>
</div>
